body{
    margin: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(185deg, hsl(214, 71%, 49%), hsl(221, 60%, 33%));
}

.cityInput::placeholder{
    color: hsla(0, 0%, 100%, 0.5);
}


.cityInput{
    font-size: 2rem;
    border: none;
    background-color: hsla(0, 0%, 100%, 0.301);
    color: hsla(0, 0%, 100%, 0.8);
    margin-bottom: 100px;
    padding: 10px 15px;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 50;
    backdrop-filter: blur(5px);
}

.submitBtn{
    font-size: 2rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: hsla(130, 59%, 46%, 0.575);
    backdrop-filter: blur(5px);
    color: hsl(0, 0%, 100%, 0.8);
}

.submitBtn:hover{
    background-color: hsl(130, 59%, 56%);
    color: hsl(0, 0%, 100%, 1);
}
.submitBtn:active{
    background-color: hsl(130, 59%, 46%);
    color: hsl(0, 0%, 100%, 0.8);
}

.card{
    background-color: hsla(0, 0%, 79%, 0.37);
    min-width: 300px;
    border-radius: 5px;
    padding: 50px;
    backdrop-filter: blur(5px);
    border: 1px solid hsla(0, 0%, 76%, 0.199);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 0;
    margin-bottom: 25px;
    color: hsl(0, 0%, 100%, 0.8);
}

p{
    font-size: 1.5rem;
    margin: 5px 0;
    color: hsl(0, 0%, 100%, 0.8);
}

.cityDisplay, .tempDisplay{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    color: hsla(0, 0%, 0%, 0.61);
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.desDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.emojiDisplay{
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.712);
}