*{
    box-sizing: border-box;
}

.gallery{
    display: inline-block;
    width: 200px;
    border: 2px solid rgb(49, 49, 49);
    margin: 10px;
}

.description {
    text-align: center;
    padding: 10px;
    background-color: rgb(49, 49, 49);
    color: white;
    width: 100%;
    transition: width 1s;
}
.gallery img{
    width: 100%;
    transition: width 1s;
}

.gallery:hover {
    border-color: rgb(100, 100, 100);
}
.gallery:hover .description{
    background-color: rgb(100, 100, 100);
    width: 300px;
}
.gallery:hover img{
    width: 300px;
}